header {margin:35px 0px;}
header .flex1 .flex2col1{
	padding-right: 10px;
}
header .flex1 .flex2col2 h2{ 
	color: #2a6636;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: -0.5px;
}
header .flex1 .flex2col2 h3{
	color: #d25356;
	margin-top: 2px;
	font-size: 14px;
} 
/**/
header .flex1col1:nth-child(2){
	width: 200px;
}
header .flex1col1:nth-child(2) >div{
	width: 100%;
}
header .flex1col1:nth-child(2) p.text-left,header .flex1col1:nth-child(2) p.text-right{
	font-size: 10px;
	margin-bottom: 1px;
	color: #4a4a4a;
	font-weight: bold;
}
header .flex1col1:nth-child(2) p.text-center{
	color: #db0909;
	font-size: 18px;
	font-weight: bold;
}
/**/
header .flex1col1:nth-child(3) .flex3col1{
	padding-right: 10px;
}
header .flex1col1:nth-child(3) .flex3col2 h5{
	color: #111111;
	font-style: italic;
}
header .flex1col1:nth-child(3) .flex3col2 h2{
	color: #db0909;
	font-weight: 800;
}
header .flex1col1:nth-child(3) .flex3col2 h2:nth-child(3){
	margin-top: -8px;
}
/**/
menu{
	background-color: #006e77;
	color: #fff;
}
menu .flex1col1{
	width: 14.28%;
}
menu .flex1col1 >div{
	width: 100%;
	border-left: 1px solid #a09e9e;
	height: 63px;
}
menu .flex1col1 >div>h3{
	font-weight: normal;
	height: 63px;
}
menu .flex1col1 >div>h3>a{
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	height: 63px;
	width: 100%;
	display: flex!important;
}
/*hover*/
menu .chidanbenh{
	position: relative;
}
menu .chidanbenh .menu-items{
	display: none;
	position: absolute;
	z-index: 1;
	/*background-image: url('../../images/desktop/icon-8.png');*/
	background-repeat: no-repeat;
	width: 326px;
	height: 600px;
	padding-left:15px;
	left: 0;
	border: 1px solid rgba(0,0,0,.15);
	border-top: none;
	background-color: #f9f9f9;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
menu .chidanbenh .menu-items h4.bg2{
	background-position: 0px -100px;
}
menu .chidanbenh .menu-items h4.bg3{
	background-position: 0px -199px;
}
menu .chidanbenh .menu-items h4.bg4{
	background-position: 0px -294px;
}
menu .chidanbenh .menu-items h4.bg5{
	background-position: 0px -390px;
}
menu .chidanbenh .menu-items h4.bg6{
	background-position: 0px -492px;
}

menu .chidanbenh:hover .menu-items{
	display: block;
}
menu .chidanbenh .menu-items>div{
	padding: 10px 0px;
	padding-bottom: 6px;
	border-bottom: 2px solid #000;
	margin-right: 6px;
}
menu .chidanbenh .menu-items>div:last-child{
	border-bottom: none;
}
menu .chidanbenh .menu-items h4{
	font-size: 14px;
	color: #79191b;
	padding-left: 40px;
	background-image: url('../../images/desktop/icon-7.png');
	background-position: 0px 0px;
	height: 27px;
	line-height: 27px;
	background-repeat: no-repeat;
}
menu .chidanbenh .menu-items .flex2{
	margin-top: 12px;
}
menu .chidanbenh .menu-items .flex2 >div:first-child{
	width: 140px;
}
menu .chidanbenh .menu-items .flex2 >div:last-child{
	width: 172px;
}
menu .chidanbenh .menu-items .flex2col1 h5{
	font-size: 12px;
	color: #010101;
	margin-bottom: 8px;
}
menu .chidanbenh .menu-items .flex2col1 h5 a:hover{
	text-decoration: underline;
	color: red;
}
