.about p{
	font-size: 18px;
	line-height: auto;
}
.about .row1{
	background-image: url('../../images/desktop/about-1.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 743px;
}
.about .row2{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-2.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 799px;
	color: #fff;
}
.about .row2 .container{
	padding:250px 0px 0px 125px ;
}
.about .row2 .container p:first-child{
	margin-bottom: 60px;
}
.about .row3{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-3.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 1010px;
	color: #fff;
}
.about .row3 .container{
	padding:305px 130px 0px 0px;
}
.about .row4{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-4.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 418px;
}
.about .row4 .container{
	padding:215px 130px 0px 0px;
}
.about .row5{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-5.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 850px;
	color: #fff;
}
.about .row5 .container{
	padding:187px 130px 0px 0px;
}
.about .row5 .container p{
	margin-bottom: 20px;
}
.about .row6{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-6.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 390px;
	color: #fff;
}
.about .row6 .container{
	padding:180px 130px 0px 0px;
}
.about .row7{
	margin-top: -4px;
	background-image: url('../../images/desktop/about-7.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 734px;
}
.about .row7 a{
	display: block;
	height: 734px;
}