/*global*/
body{color: #232323;}
.chuyende{padding:0px 15px;}
/*fixed*/
header .table-cell div.h3,header .table-cell h1{color: #068b62;}
header .table-cell div.web-address{color: #e92426;}
header .table-cell span{color: #068b62}
menu{background-color: #068b62;}
/**/
footer >div:first-child{background-color: #e1e5ed;padding:15px;}
footer p{color: #030303;font-size: 14px;margin-bottom: 10px;}
footer p a{font-size: 12px;font-weight: bold;}
/**/
div.row1{padding-top: 30px;}
div.row1 a.link{background-color: #ff6100;color: #fff;border-radius: 8px;height: 53px;line-height: 53px;padding:0px 20px;font-size: 18px;}
div.row1 div.text1{margin-top: 20px;}
div.row1 .myrow1{margin:0px -10px;}
div.row1 .myrow1 >div{padding:0px 10px;margin-top: 20px;}

div.row1 .myrow1 .circle-text {width:50%; margin:0px auto;}
div.row1 .myrow1 .circle-text:after {content: ""; display: block; width: 100%; height:0; padding-bottom: 100%; background: #068b62; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
div.row1 .myrow1 .circle-text div {float:left; width:100%; padding-top:50%; line-height:1em; margin-top:-0.5em; text-align:center; color:white; }
div.row1 .myrow1 .des{margin-top: 5px;}
div.row1 .global2{margin-top: 20px;}
div.global2 p{color: #068b62;}
div.global2 a{margin-top: 15px;background-color: #068b62;color: #fff;border-radius: 8px;padding:5px 20px;}
div.global2 a img{vertical-align: middle;margin-left: 10px;}
/**/
div.row2{margin-top: 30px;}
.global1{margin:0px -15px;text-transform: uppercase;text-align: center;background-color: #068b62;color: #fff;font-weight: bold;padding:10px;font-size: 16px;line-height: 20px;}
div.row2 .line1{margin-top: 20px;}
div.row2 .line2{margin-top: 20px;}
/**/
div.row3{margin-top: 30px;}
div.row3 .text1{margin-top: 10px;}
div.row3 .label{text-transform: uppercase;font-size: 15px;background-color: #303030;padding:10px;margin-top: 20px;text-align: center;color: #fff;}
div.row3 .global2{margin-top: 10px;}
div.row3 .machnho{margin:20px 15px;}
div.row3 .machnho .bor{border-radius: 10px;padding:10px;background-color: #eeeeee;font-size: #3f3f3f;}
/**/
div.row4{margin-top: 30px;}
div.row4 .text1{margin-top: 10px;}
div.row4 .text2 div{margin-top: 10px;}
div.row4 .text2 div.des{margin-top: 20px;color: #393939;}
div.row4 .text3{background-color: #eeeeee;padding:15px;margin:0px 10px;margin-top: 20px;text-align: justify;color: #242424;}
div.row4 .global2{margin-top: 10px;}
/**/
div.row5{margin:0px -15px;margin-top: 30px;}
div.row5{background-color: #e5e5e5;padding-top: 35px;padding-bottom: 35px;}
div.row5 .text1{margin-top: 10px;color: #000000;text-align: center;}
div.row5 .textphone{margin-top: 10px;font-size: 26px;font-weight: bold;}
div.row5 .fonticon{margin-top: 10px;font-size: 9px;color: #000000;text-align: center;}
div.row5 .table{margin-top: 35px;}
div.row5 .table table{margin:0px auto;border-spacing: 0;}
div.row5 .table table tr td{vertical-align: top;}
div.row5 .table table tr td.cell1{padding-right:20px;padding-left: 10px;}
div.row5 .table table tr td.cell2{padding-left:20px;padding-right: 10px;}
div.row5 .table table tr td div{margin-top: 15px;}
div.row5 .table table tr td div a{color: #000;font-size: 15px;font-weight: 400;}
/**/
div.row6{margin-top: 30px;background-color: #fff;padding-bottom: 20px;}
div.row6 h2{font-size: 18px;color: #000;text-align: center;text-transform: uppercase;}
div.row6 h3{color: #575757;margin-top: 15px;font-weight: normal;font-size: 13px;}
div.row6 .table{margin-top: 20px;}

div.row6 .table .row{margin:0px -5px;}
div.row6 .table .row >div{padding:10px 5px;}
div.row6 .table .row >div:nth-child(1) img{max-width: 189px;}
div.row6 .table .row >div:nth-child(2){padding-left: 5px;font-size: 15px;color: #555555;}
div.row6 .table p.el2{color: #000;margin-top: 10px;}
div.row6 .table p.el3{color: #000;margin-top: 10px;font-size: 16px;}
div.row6 .table p.el3 img{margin-right: 10px;}

/**/
/*forHome*/
footer .footer-toolbar{background-color: #33baa5;color: #fff;}
footer .footer-toolbar .table-cell{background-color: #33baa5;padding:5px 0px;width: 25%;}
footer .footer-toolbar .table-cell h3{padding-top: 5px;}
footer .footer-toolbar .table-cell i{font-size: 22px;}
footer .footer-toolbar .table-cell h4{font-weight: normal;margin-top: 5px;}
footer .footer-toolbar .table-cell a{display: block;text-align: center;}
footer .footer-toolbar .table-cell i{background-image: none;}























