div.post{
	padding:15px;
	background-color: #fff;
	margin-bottom: 20px;
}
div.post .post-detail{
	line-height: 20px;
}
div.post .post-detail img{
	max-width: 100%;
}
div.post .post-footer{
	line-height: 20px;
}
div.post .post-footer p{
	text-align: justify;
	margin-top: 15px;
}
div.post .post-footer span,div.post .post-footer a{
	color: red;
	font-weight: bold;
}
div.post .post-detail img{vertical-align: middle;margin-bottom: 0px!important;}
div.post .post-detail h3{ text-transform: uppercase;font-size: 14px;border-bottom: 1px dashed #04909b!important;color: #04909b!important;padding-bottom: 8px; }
div.post .post-detail h3 span{color: #04909b!important; font-size: 14px;}
div.post .post-detail h3 strong{color: #04909b!important; font-size: 14px;}